<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/head'); %>
</head>
<body class="container">
    <header>
            <%- include('layout/header'); %>
    </header>
    <main>
        <div class="jumbotron">
        <%- include('hero'); %>
        </div>
    </main>
    <footer>
            <%- include('layout/footer'); %>
    </footer>
</body>
</html>