<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

    <%- include('layout/head'); %>

<body class="container">
    
    <%- include('layout/header'); %>
    
    <main>
        <div class="jumbotron">
            <%- include('login'); %>
        </div>
    </main>  

    <a href="/courses_management">courses</a>
    
    <%- include('layout/footer'); %>

</body>
</html>